Chapter 1/objects/list_network_adapters
Chapter 1/objects/list_network_adapters.exe

Chapter 2/objects/time_giving_server
Chapter 2/objects/time_giving_server.exe
Chapter 2/objects/time_giving_server_dual
Chapter 2/objects/time_giving_server_dual.exe

Chapter 3/server/objects/tcp_chat_server
Chapter 3/server/objects/tcp_chat_server.exe
Chapter 3/client/objects/tcp_client
Chapter 3/client/objects/tcp_client.exe