Chapter 1/list_network_adapters
Chapter 1/list_network_adapters.exe

Chapter 2/time_giving_server
Chapter 2/time_giving_server.exe
Chapter 2/time_giving_server_dual
Chapter 2/time_giving_server_dual.exe

Chapter 3/tcp_chat_server
Chapter 3/tcp_chat_server.exe
Chapter 3/tcp_client
Chapter 3/tcp_client.exe